body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg,#f8cdda,#f7797d);
    font-family: 'Segoe UI', sans-serif;
}

/* wrapper */
.wrapper{
     position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;   /* จัดให้อยู่กลางแนวนอน */
    justify-content:center;
    text-align:center;
}

/* envelope */
.envelope{
    position:relative;
    width:600px;
    height:420px;
    background:#fff;
    border-radius:10px;
    box-shadow:0 25px 50px rgba(0,0,0,0.2);
    cursor:pointer;
    overflow:hidden;
     z-index:2;
    transition: transform 0.4s ease;
}

/* flap */
.flap{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#ff4d6d;
    clip-path: polygon(0 0, 100% 0, 50% 60%);
    transform-origin:top;
    transition:0.8s ease;
}

/* seal */
.seal{
    position:absolute;
    top:85px;
    left:50%;
    transform:translateX(-50%);
    background:hsl(0, 0%, 100%);
    color:rgb(255, 46, 46);
    width:50px;
    height:50px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
    transition:0.5s;
}

/* letter inside */
.letter{
    position:absolute;
    top:100%;
    left:50%;
    transform:translateX(-50%);
    width:90%;
    height:380px;
    background:#f0c4c4;
    border-radius:8px;
    padding:20px;
    box-sizing:border-box;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    transition:1s ease;
}

.letter h2{
    margin: top 100%;
    font-size: 30px;
    color:#d6336c;
}
.letter p {
    font-size: 23px;
}

.open-text{ 
    margin-top:25px;
    color:white;
    font-size:18px;
    animation:blink 1.5s infinite;
}

@keyframes blink{
    50%{opacity:0.5;}
}

/* ===== OPEN EFFECT ===== */
.envelope.open .flap{
    transform:rotateX(180deg);
}

.envelope.open .seal{
    opacity:0;
}

.envelope.open .letter{
    top:-5px;
}

.envelope.open{
    transform: translateY(-10px);
}
/* ===== Floating Hearts ===== */

.heart {
    position: fixed;
    bottom: -20px;
    pointer-events: none;
    animation: floatUp linear forwards;
    z-index: 999;
}

@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-110vh) scale(1.5) rotate(360deg);
        opacity: 0;
    }
}


/* ปุ่มเริ่ม */
#startSlideBtn{
    margin-top:20px;
    padding:12px 25px;
    background:#d6336c;
    color:white;
    border:none;
    border-radius:25px;
    cursor:pointer;
    font-size:16px;
}

/* ซ่อน slider ก่อน */
.hidden{
    display:none;
}

/* ===== Film Frame ===== */
.film-frame{
    width:80%;
    max-width:900px;
    margin:40px auto;
    background:black;
    padding:25px 15px;
    border-radius:12px;
    position:relative;
}

/* รูฟิล์มบนล่าง */
.film-frame::before,
.film-frame::after{
    content:"";
    position:absolute;
    left:0;
    width:100%;
    height:20px;
    background: repeating-linear-gradient(
        90deg,
        white 0px,
        white 20px,
        black 20px,
        black 40px
    );
}
.film-frame{
    width:80vw;              /* กว้าง 90% ของจอ */
    max-width:1000px;        /* ใหญ่สุดไม่เกิน 1200px */
    margin-top:120px;
    background:black;
    padding:35px 20px;
    border-radius:18px;
    position:relative;
}
.film-frame::before{ top:0; }
.film-frame::after{ bottom:0; }

/* รูป */
#slideImage{
    width:100%;
    aspect-ratio:16/9;
    object-fit:cover;
    border-radius:8px;
    transition: transform 0.5s ease, opacity 0.3s ease;
}



/* ปุ่ม next */
#nextBtn ,#prevBtn {
     margin-top : 200px;
    padding:12px 30px;
    background:#ff4d6d;
    color:white;
    border:none;
    border-radius:30px;
    cursor:pointer;
    font-size:16px;
}
#startSlideBtn{
    margin-top:30px;
    padding:12px 25px;
    background:#d6336c;
    color:white;
    border:none;
    border-radius:25px;
    cursor:pointer;
    font-size:16px;

    opacity:0;
    transition:0.5s ease;
}
/* ตอนให้มันแสดง */
#startSlideBtn.show{
    opacity:1;
    transform:translateY(0);
}

.p {
    font-size: 60px;
}


/* ปุ่มคู่ Prev / Next */
.btn-group{
    position:absolute;
    bottom:60px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    gap:30px;
}


#prevBtn:hover, #nextBtn:hover{
    transform:scale(1.05);
    padding:16px 40px;
    border:none;
    border-radius:40px;
    background:#ff4d6d;
    color:white;
    font-size:18px;
    cursor:pointer;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    transition:0.3s ease;

}


.flash{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:white;
    opacity:0;
    pointer-events:none;
    border-radius:12px;
}

.flash.active{
    animation:flashEffect 0.4s ease;
}

@keyframes flashEffect{
    0%{opacity:1;}
    100%{opacity:0;}
}


#caption{
    position:absolute;
    top:100px;
    left:50%;
    transform:translateX(-50%);
    color:white;
    font-size:28px;
    font-weight:600;
    text-shadow:0 4px 10px rgba(0,0,0,0.3);
}

#counter{
    position:absolute;
    top:80px;
    left:50%;
    transform:translateX(-50%);
    color:white;
    font-size:18px;
    opacity:0.8;
}



#pageFlash{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:white;
    opacity:0;
    pointer-events:none;
    z-index:9999;
}

#pageFlash.active{
    animation:pageFlashAnim 0.8s ease;
}

@keyframes pageFlashAnim{
    0%{opacity:0;}
    40%{opacity:1;}
    100%{opacity:0;}
}


.flower-burst{
    position:absolute;
    font-size:30px;
    pointer-events:none;
    animation:burstMove 1.2s ease-out forwards;
}

@keyframes burstMove{
    0%{
        transform:translate(0,0) scale(0.5);
        opacity:1;
    }
    100%{
        transform:translate(var(--x), var(--y)) scale(1.2);
        opacity:0;
    }
}



.flower-gift{
    position:absolute;
    width:700px;
    bottom:40px;
    opacity:0;
     z-index:0;
    pointer-events:none;
}

/* ด้านซ้าย */
.flower-gift.left{
    left:-220px;
    transform:rotate(-10deg);
}

/* ด้านขวา */
.flower-gift.right{
    right:-220px;
    transform:rotate(10deg);
}

/* ตอนโผล่ */
.flower-gift.show.left{
    animation:slideInLeft 1s ease forwards, sway 2s ease-in-out 1s infinite;
}

.flower-gift.show.right{
    animation:slideInRight 1s ease forwards, sway 2s ease-in-out 1s infinite;
}

@keyframes slideInLeft{
    0%{left:-220px; opacity:0;}
    100%{left:30px; opacity:1;}
}

@keyframes slideInRight{
    0%{right:-220px; opacity:0;}
    100%{right:30px; opacity:1;}
}

@keyframes sway{
    0%{transform:rotate(-5deg);}
    50%{transform:rotate(5deg);}
    100%{transform:rotate(-5deg);}
}
